* {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
}

.navbar {
    background: linear-gradient(to right, teal, rgb(131, 20, 131));
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 2rem;
    margin: -10px;
    height: 65px;
    border-bottom: solid 3px rgb(49, 49, 49);
}

.navbar__links a {
    color: white;
    text-decoration: none;
    margin: 0 3rem;
}

.navbar__links a:hover {
    color: lightgray;
    font-weight: bold;
    text-decoration: underline;
}

.number {
    margin-top: 15px;
    justify-content: left;
    align-items: center;
    color: rgb(197, 197, 197);
}

.number button a {
    color: rgb(197, 197, 197);
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}