* {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
}

.number {
    justify-content: left;
    align-items: center;
}

.number button a {
    color: rgb(197, 197, 197);
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}