* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
}

.navbar {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 2rem;
    margin: -10px;
    height: 65px;
    width: 100.5%;
    top: 0;
}

.navbar__links a {
    color: rgb(197, 197, 197);
    text-decoration: none;
    padding: 0 3rem;
    text-shadow: .5px .5px white;
}

.navbar__links a:hover {
    color: rgb(241, 241, 241);
    text-decoration: underline;
    text-decoration-color: rgb(241, 241, 241);
    text-underline-offset: -43px;
    transition: all 0.3s ease-in-out;
}

.main {
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 120px;
    z-index: 1;
    width: 100%;
    padding: 1rem 2rem;
}

.button {
    justify-content: left;
    align-items: center;
    color: rgb(197, 197, 197);
    margin: 0;
}

.button button {
    margin-top: .8rem;
}

.button button a {
    color: rgb(197, 197, 197);
    background-color: rgb(51, 51, 51);
}

.noise_map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}